.teacher-item {
    border: 1px solid var(--color-line-in-white);
    background: var(--color-box-base);
    border-radius: 8px;
    margin-top: 24px;
    overflow: hidden;
    max-width: 580px;
    margin: 10px auto;

  }

  .teacher-item header,
  .teacher-item footer {
    padding: 20px;
  }
  
  .teacher-item header {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  
  .teacher-item header img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  
  .teacher-item header div {
    margin-left: 24px;
  }
  
  .teacher-item header strong {
    display: block;
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
  }
  
  .teacher-item header span {
    display: block;
    margin-top: 0.4rem;
    font: 400 1.6rem Archivo;
  }
  
  .teacher-item > p {
    padding: 0px 32px 20px 32px;
    line-height: 28px;
    font: 500 14px Poppins;
  }

  .wrapper-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .wrapper-img img {
    max-width: 300px;
    max-height: 300px;
  }
  
  .teacher-item footer {
    padding: 16px 20px;
    background: var(--color-box-footer);
    border: 1px solid var(--color-line-in-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .teacher-item footer p {
    font-family: Poppins;
    font-size: 14px;
  }
  
  .teacher-item footer p strong {
    color: var(--color-primary);
    font-family: Poppins;
    font-size: 18px;
    margin-left: 16px;
    display: initial;
  }

  .teacher-item footer label {
    font-family: Poppins;
    font-size: 12px;
    margin-left: 5px;
    display: block;
  }

  .teacher-item footer .buttons {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .teacher-item footer button {
    margin: 0;
    height: 56px;
    width: 60px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font: 700 14px Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    text-decoration: none;
  }

  .teacher-item footer .editar {
    background: var(--color-primaryTree);
    color: var(--color-button-text);
    margin-right: 5px;
  }

  .teacher-item footer .editar:hover {
    background: var(--color-primaryTree-dark);
  }

  .teacher-item footer .excluir {
    background: var(--color-cancel);
    color: var(--color-button-text);
  }

  .teacher-item footer .excluir:hover {
    background: #c91d1d;
  }

  .teacher-item footer button img {
    height: 15px;
    width: 15px;
  }