:root {
    font-size: 60%;

    --color-background: #F0F0F7;
    --color-primary-lighter: #1ce3b8;
    --color-primary-light: #19cca5;
    --color-primary: #18C29C;
    --color-primary-dark: #16b693;
    --color-primary-darker: #149f81;
    --color-tertiary: #1893C2;
    --color-tertiary-dark: #1688b6;
    --color-tertiary-darker: #14779f;
    --color-cancel: #E33D3D;
    --color-cancel-dark: ##df2020;
    --color-cancel-darker: ##c91d1d;
    --color-secondary: #DA39E6;
    --color-secondary-dark: #c019cc;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #CEFFF4;
    --color-text-title: #084437;
    --color-text-complement: #84b3a8;
    --color-text-base: #468c7c;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    overflow-x: hidden;
}

button {
    outline:0;
}

/* html, body {
    height: 100%;
} */

/* .container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
} */